<h1>Welcome to Rewsly! It will get interesting, I swear</h1>
<!-- Ruby code which prints each story within the @stories array onto a single line -->
 <%= render 'search' %>
 <%= link_to "Add a new story", new_story_path %>
 <%= render 'story' %>

<!--  <% @stories.each do |story| %>
    <h3><%= story.title %></h3>
    <ul>
    <li><%= link_to "Link", story.link %></li>
    <li><%= story.category %></li>
    <li><%= story.upvotes %></li>
    </ul>
  <% end %> -->