<% if @story.errors.any? %>
<h2>There were errors saving your story</h2>
<ul>
  <% @story.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<%= form_for @story do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :link %>
<%= f.text_field :link %>
<%= f.label :category %>
<%= f.text_field :category %>
<%= f.label "Source" %>
<%= f.collection_select :source_id, @source, :id, :name %>
<%= f.submit %>

<% end %>