<h3><%= @story.title %></h3>
    <ul>
    <li><%= link_to "Link", @story.link %></li>
    <li>Category: <%= @story.category %></li>
    <li>Upvotes: <%= @story.upvotes %></li>
    <li>Source: <%= @story.source.name %></li>

    </ul>
     <%= link_to "Back", root_path%>